---
import bmbsquare from "/assets/desktopHero.png";
import bmbmobile from "/assets/mobileHero.png";
---

<section
  class="grid lg:grid-cols-2 place-items-center md:pb-12 mt-8 lg:pt-8 lg:place-items-start"
>
  <!-- Desktop image -->
  <div
    class="py-6 lg:order-1 sm:flex hidden w-full items-center justify-center"
  >
    <img
      id="bmb"
      class="aspect-square h-72 w-72"
      src={bmbsquare}
      alt="Bald Man Brands"
    />
  </div>
  <!--  -->

  <!-- Hero text and buttons group -->
  <div class="sm:py-6">
    <div class="lg:text-left sm:text-center text-left">
      <h1
        class="font-bold text-3xl sm:text-4xl lg:text-5xl tracking-tight lg:tracking-tighter"
      >
        LIT in Japan
      </h1>
      <h2
        class="text-3xl lg:text-4xl xl:text-5xl tracking-tighter font-bold leading-normal text-skin-accent"
      >
        Legitimately Into Trains
      </h2>
      <p
        class="text-lg mt-4 max-w-xl leading-relaxed md:text-lg text-skin-soft"
      >
        Boutique web development and digital marketing from Japan.<wbr /> Hand-coded
        websites and data-driven ad campaigns that outperform and outshine.
      </p>

      <!-- Mobile Image -->
      <div class="py-6 sm:hidden block">
        <img
          class="w-full rounded-lg aspect-video bg-cover bg-center"
          src={bmbmobile}
          alt="Bald Man Brands"
        />
      </div>
      <!--  -->

      <div class="sm:mt-6 mt-2 flex flex-col sm:flex-row gap-3 sm:justify-center lg:justify-start">
        <a
          class="inline-flex justify-center rounded-lg text-sm font-bold py-3 px-4 bg-skin-accent hover:bg-skin-card-muted text-skin-white"
          href="/about"><span>See How</span></a
        >
        <a
          class="inline-flex justify-center rounded-lg text-sm font-bold py-3 px-4 bg-skin-accent hover:bg-skin-card-muted text-skin-white"
          href="/contact"
          ><span
            >Start for Free
            <span aria-hidden="true" class="hidden text-slate-400 sm:inline"
              >→</span
            ></span
          ></a
        >
      </div>
    </div>
  </div>
</section>